.container {

    margin-top: 20px;
    height: calc(100vh - 155px);
    width: 100%;
    overflow: hidden;
}

.zoom {
    background-image: url("../../../assets//images/slider/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: calc(100vh - 155px);
    width: 100%;
    /* transform: scale(4); */
    transition: all 1s linear;
    position: relative;
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 734px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.sliderItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 734px;
}

.sliderItem img {
    height: 357px;

}

.bannerMoblie {
    background-image: url("../../../assets/images/banner\ mobile/backgroundbanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh);
    position: relative;
}

.bannerMoblie .image {
    animation: mymove 3s ease;
}

.bannerMoblie img {
    max-width: 100%;
    position: absolute;
}

@keyframes mymove {
    from {
        top: -200px;
    }

    to {
        top: 0px;
    }
}

@media only screen and (max-width: 1600px) {
    .sliderItem img {
        height: 250px;

    }

    .sliderItem {

        width: 500px;
    }

    .slider {

        width: 500px;
    }
}

@media only screen and (max-width: 1420px) {
    .sliderItem img {
        height: 230px;

    }

    .sliderItem {

        width: 460px;
    }

    .slider {

        width: 460px;
    }
}

@media only screen and (max-width: 1280px) {
    .sliderItem img {
        height: 200px;

    }

    .sliderItem {

        width: 400px;
    }

    .slider {

        width: 400px;
    }
}

@media only screen and (max-width: 1150px) {
    .sliderItem img {
        height: 180px;

    }

    .slider {

        width: 360px;
    }

    .sliderItem {

        width: 360px;
    }
}