.container {

    height: calc(100vh - 155px);
    width: 100%;
    overflow: hidden;
}

.zoom {
    background-image: url("../../../assets//images/slider/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    /* transform: scale(4); */
    transition: all 1s linear;
}