@font-face {
  font-family: 'TimesNewRoman';
  src: local('TimesNewRoman'), url(./assets/fonts/Times\ New\ Roman/TimesNewRomanBoldItalic.ttf) format('truetype');
}

#root {
  font-family: 'Times New Roman';
}